

@media only screen and (max-width: 450px) {
  #site-content {
    padding: 0px;
  }
}


@media only screen and (max-width: 900px) {
  .show-for-small {
    display: block !important;
    .menu {
     flex-direction: column;
     .menu-item-has-children::before {
       content: "\f347";
       float: right;
       font: normal 20px/1 'dashicons';
       height: 20px;
       padding: 15px 20px;
       right: 0;
       text-align: right;
       z-index: 9999;
     }
    }
  }
  nav.show-for-small {
    .menu {
      display: none;
      .sub-menu {
        left: 0;
        position: unset;
        opacity: 1;
        list-style: none;
        display: none;
        li {
          border-bottom: none;
        }
      }
    }
  }
  .hide-for-small {
    display: none !important;
  }
}
